<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Database=BBS"/>
  </connectionStrings>

  <appSettings>
    <add key="FeatureFlags.ShouldBeOn" value="select IsOn from Features where ID = 1"/>
    <add key="FeatureFlags.ShouldBeOff" value="select IsOn from Features where ID = 2"/>
    <add key="FeatureFlags.BusinessLevelProFeatureToggle" value="select 
	SUBSTRING(
	(
		select ', ' + cast(FeatureId as nvarchar) as [text()]
			from UserFeatures
				where UserId = @userId 
			For XML Path('')
	), 2, 1000)"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>