<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeatureFlags.TestFeatureTrueToggle_Bool" value="true"/>
    <add key="FeatureFlags.TestFeatureFalseToggle_Bool" value="false"/>
    <add key="FeatureFlags.TestFeature1Toggle_Bool" value="1"/>
    <add key="FeatureFlags.TestFeature0Toggle_Bool" value="0"/>
    <add key="FeatureFlags.TestFeatureInvalidToggle_Bool" value="Gibberish"/>
  </appSettings>
</configuration>